<h1>Your Cart</h1>
<table>
  <% for i in @cart.line_items %>
<%= render (@cart.line_items) %>
  <% end %>
  <tr class="total_line" >
    <td colspan="2" >Total</td>
    <td class="total_cell" ><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= link_to "Continue shopping", root_url %> | 
<%= link_to "empty", @cart, :method => :delete, :confirm => "Are you sure" %>
<%#= button_to "Empty Cart", @cart, :method => :delete, :confirm => "Are sure
want to" %>
